@tailwind base;
@tailwind components;
@tailwind utilities;

.ProseMirror {
  min-height: calc(100vh - 16rem);
  padding: 1rem 2rem;
}

.ProseMirror:focus {
  outline: none;
}

.ProseMirror > * + * {
  margin-top: 0.75em;
}

.ProseMirror ul,
.ProseMirror ol {
  padding: 0 1rem;
}

.ProseMirror h1 {
  font-size: 2em;
  font-weight: bold;
  margin-bottom: 0.5em;
}

.ProseMirror h2 {
  font-size: 1.5em;
  font-weight: bold;
  margin-bottom: 0.5em;
}

.ProseMirror blockquote {
  padding-left: 1rem;
  border-left: 2px solid #e2e8f0;
  color: #64748b;
  font-style: italic;
}

.ProseMirror p.is-editor-empty:first-child::before {
  color: #64748b;
  content: attr(data-placeholder);
  float: left;
  height: 0;
  pointer-events: none;
}